<div id="ladodireito">

  <div id="menuadminitrador">
	    <%= link_to 'Cadastrar', new_suporte_path%>
	    <%= link_to 'Concluir', suportes_path%>
	    <%= link_to 'Concluidos', concluidos_suportes_path%>
	</div>
</div>
