<div id="ladodireito">

  <div id="menuadminitrador">
      <%= link_to '', new_suporte_path, :class => "cadastrarsuporte" %>
	    <%= link_to '', suportes_path, :class => "concluirsuporte" %>
	    <%= link_to '', concluidos_suportes_path, :class => "concluidossuporte" %>
  </div>
</div>
