<div id="ladodireito">
				<h2>Serviços</h2>
					<p>A Murilo A. Manhães - Soluções em Informática presta serviços de Assistencia Técnica em Computadores e Desenvovimento de Sites. </p>
					
					<p><b>Assistencia Técnica :</b></p>
					
					<p> - Manutenção de Computadores e Notbooks;<br>
						- Remoção e proteção contra Vírus;<br>
						- Filtros contra acesso a Sites Impróprios;<br>
						- Formatação de Computadores;<br>
						- Instalação de Impressoras;<br>
						- Recuperação de Dados (Fotos, Músicas, Vídeos, Arquivos, etc.);<br>
						- Wireless (Internet sem fio);<br>
						- Instalação de Programas e Aplicativos;<br>
						- Contrato de Manutenção Preventiva (Empresa ou Pessoal);<br>
						- Instalação e configuração de Redes;<br>
						- UP-Grade e Intalações de Peças;  </p><br><br>
						
					<p><b>Desenvolvimento de Sites:</b></p>
					
					<p> - Sites Pessoal e Empresarial;<br>
						- Sites Eventos, Salão de Festas, Vidraçaria, Escolar, Academia, etc;<br>
						- Criação de Dominio;<br>
						- Criação de Hospedagem;<br>
						- Manutenção Preventiva;</p>			
									
			</div>
