<div id="ladodireito">

  <div id="menuadminitrador">
	    <%= link_to 'Concluir', contatos_path%>
	    <%= link_to 'Concluidos', concluidos_contatos_path%>

  </div>
  
      <%= link_to '', root_path, :class => "voltar"%>
</div>
