<div id="ladodireito">

  <div id="menuadminitrador">
	    <%= link_to '', contatos_path, :class => "concluircontato"%>
	    <%= link_to '', concluidos_contatos_path, :class => "concluidoscontato"%>
  </div>
  
      <%= link_to '', root_path, :class => "voltar"%>
</div>
