<div id="ladodireito">
  <h2>Alterar / Deletar</h2>
  <br> 
  <div id="menuadminitrador">
	    <%= link_to 'Notícia', novidades_path, :class => "menualterar" %>
	    <%= link_to 'Parceiro', parceiros_path, :class => "menucadastrar" %>
	</div>
</div>
