<div id="ladodireito">

  <div id="menuadminitrador">
	    <%= link_to '', novidades_path, :class => "alterarnoticia" %>
	    <%= link_to '', parceiros_path, :class => "alterarparceiro" %>
	</div>
	
		 <%= link_to '', root_path, :class => "voltar"%>
		 
</div>
