<div id="ladodireito">
 
  <div id="menuadminitrador">
	    <%= link_to '', new_novidade_path, :class => "cadastrarnoticia" %>
	    <%= link_to '', new_parceiro_path, :class => "cadastrarparceiro" %>
	</div>
	
	 <%= link_to '', root_path, :class => "voltar"%>
	 
</div>
