<div id="ladodireito">
  <h2>Cadastrar</h2>
  <br> 
  <div id="menuadminitrador">
	    <%= link_to 'Notícia', new_novidade_path, :class => "menualterar" %>
	    <%= link_to 'Parceiro', new_parceiro_path, :class => "menucadastrar" %>
	</div>
</div>
