<div id="ladodireito">

  <div id="menuadminitrador">
	    <%= link_to '', relatorio_novidades_path, :class => "consultarnoticia" %>
	    <%= link_to '', relatorio_parceiros_path, :class => "consultarparceiro" %>
	</div>
	
		 <%= link_to '', root_path, :class => "voltar"%>
		 
</div>
