<div id="ladodireito">
				<h2>Soluções em web</h2>
	<p>Esses são os sites que foram ou estão sendo desenvolvido pela Murilo Manhães.</p>
	
		<div class="conteiner"> <a href="http://www.pessanhavidracaria.com" target="_blank"><img src="/assets/vidracaria.jpg"/>
								<p>O site da J.pessanha vidraçaria foi o primeiro desenvolvido pela Murilo Manhães. Veja o site em funcionamento clicando aqui. </p></a>
		</div>
		
		<div class="linhaesquerda"> </div>
		
		<div class="conteiner"> <a href="http://www.pagodemultishow.com.br" target="_blank"><img src="/assets/pagode.jpg"/>
								<p>O site do Pagode Multishow foi o segundo desenvolvido pela Murilo Manhães. Veja o site em funcionamento clicando aqui. </p></a>
		</div>
		
		<div class="conteiner"> <a href="http://www.multipecascampos.com.br" target="_blank"><img src="/assets/multipecas.jpg"/>
								<p>O site da Multipeças está sendo desenvolvido pela Murilo Manhães. Veja o site em funcionamento clicando aqui. </p></a>
		</div>
		
		<div class="linhaesquerda"> </div>
		
		<div class="conteiner"> <a href="#"><img src="/assets/fatima.jpg"/>
								<p>O site da Tia Fátima Orientadora está sendo desenvolvido pela Murilo Manhães. Em breve o site em funcionamento clicando aqui. </p></a>
		</div>
		
		<div class="conteiner"> <a href="#"><img src="/assets/pib.jpg"/>
								<p>O site da Primeira Igraja Batista de São Francisco de Itabapoana está sendo desenvolvido pela Murilo Manhães. Em breve o site em funcionamento clicando aqui. </p></a>
		</div>
	
	
				
			</div>
