<div id="ladodireito">

<h2>Murilo Manhães - Soluções em Informática</h2>
					<p>Somos especializada em assistência técnica de computadores, criação de sites, registro de domínio, etc. Estamos a 2 anos no mercado atendendo com dedicação 
					e responsabilidade os nossos clientes. Trabalhamos com manutenção preventiva (Empresa ou/e Pessoal), serviço de 
					instalação de sistema, configuramos a sua máquina, formatação, limpeza de sistemas, recuperação de dados (Fotos, 
					músicas, etc.), melhorando o desempenho do seu computador.</p>
					
					
					<p>Nosso sucesso depende da satisfação de nosso cliente, é por isto, que estamos sempre atualizados, para que cada 
					vez mais, possamos aprimorar o nosso serviço. A manutenção do seu computador poderá ser feita no próprio local 
					(dependendo do problema), propiciando comodidade ao cliente.</p>
					
					<br>
					
					<img class="fotos" src="/assets/somos.gif"/>

</div>
