/*Configuração para o site rodar me qualquer navegador*/

*
{
padding:0px;
margin:0px;
list-style: none;
text-decoration:none;
}





/*Configurações para as noticias e alertas*/

#notice {
  float: left;
  min-width: 100px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gray;
}

#notice h1 {
  float: left;
  width: 45px;
  margin: 1px;
  text-align: center;
  font-size: 15px;
  background-color: green;
  color: white;
}

#notice p{
  float: left;
  text-align: center;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

#alert {
  float: left;
  min-width: 100px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gray;
}

#alert h1 {
  float: left;
  width: 40px;
  margin: 1px;
  text-align: center;
  font-size: 15px;
  background-color: red;
  color: white;
}

#alert p{
  float: left;
  text-align: center;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}








/*Configurações para o login*/

#login{
  float: left;
  width: 445px;
  height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 25%;
  background:url("/assets/login.gif");
}

#loginconteudo{
  float: left;
  width: 400px;
  height: 140px;
  margin-top: 170px;
  margin-left: 80px;
}






/*Configurações gerais para todas as paginas*/

body{
	background:url("/assets/bg.gif") repeat-x #FFF9F2;
	color:#333227;
	padding:0;
	margin:0;
}

img{
	border: none;
}

img a{
	border:none;
}

a{
	border: none;
}

.editar { 
  float: left;
  width: 20px;
  height: 20px;
  background: url("/assets/editar.png") no-repeat 0 0;
}

.deletar { 
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url("/assets/deletar.gif") no-repeat 0 0;
}

.voltar { 
  float: left;
  width: 60px;
  height: 20px;
  margin-left: 0;
  margin-top: 15px;
  background: url("/assets/botao_voltar.gif") no-repeat 0 0;
}

#botoesrelatorio {
  float: right;
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
}

#consulta {
  float: left;
  width: 450px;
  height: 40px;
  margin-left: 120px;
}







/*Configurações para estrutura do site*/

#tudo{
	width:778px;
	margin:0 auto 0 auto;
}




/*Configuração para o cabecalho*/

#cabecalho{
	width:778px;
	height: 235px;
}

#logo{
	float: left;
	width: 188px;
	height: 237px;
	background: url("/assets/logo_bg.gif");
}




/*Configuração para o menu topo*/

#menu ul{
	float: left;
	width:550px;
	display:block;
	height:29px;
	margin-left: 20px;
	font-size:0;
}

#menu ul li{
	float:left;
	height:29px;
}

#menu ul li a{
	font:12px/29px Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:29px;
	display:block;
	color:#FFF9F2;
	background:url("/assets/navi_bg.gif") repeat-x 0 0 #005050;
	text-decoration:none;
	text-align:center;
}

#menu ul li a.inicio{
	background:url("/assets/home.gif") no-repeat 0 0;
	width:59px;
}

#menu ul li a.inicio:hover{
	background:url("/assets/home_h.gif") no-repeat 0 0;
	width:59px;
}

#menu ul li a.somos{
	background:url("/assets/submission.gif") no-repeat 0 0;
	width:92px;
}

#menu ul li a.somos:hover{
	background:url("/assets/submission_h.gif") no-repeat 0 0;
	width:92px;
}

#menu ul li a.computadores{
	background:url("/assets/submission.gif") no-repeat 0 0;
	width:92px;
}

#menu ul li a.computadores:hover{
	background:url("/assets/submission_h.gif") no-repeat 0 0;
	width:92px;
}

#menu ul li a.sites{
	background:url("/assets/about_us.gif") no-repeat 0 0;
	width:74px;
}

#menu ul li a.sites:hover{
	background:url("/assets/about_us_h.gif") no-repeat 0 0;
	width:74px;
}

#menu ul li a.contato{
	background:url("/assets/about_us.gif") no-repeat 0 0;
	width:74px;
}

#menu ul li a.contato:hover{
	background:url("/assets/about_us_h.gif") no-repeat 0 0;
	width:74px;
}
#menu ul li a.cadastrar{
	background:url("/assets/contact_us.gif") no-repeat 0 0;
	width:84px;
}

#menu ul li a.cadastrar:hover{
	background:url("/assets/contact_us_h.gif") no-repeat 0 0;
	width:84px;
}

#menu ul li a.sair{
	background:url("/assets/contact_us.gif") no-repeat 0 0;
	width:64px;
}

#menu ul li a.sair:hover{
	background:url("/assets/contact_us_h.gif") no-repeat 0 0;
	width:64px;
}


/*Configurações para a aba de usuariologado*/


#menu .ola{
  float: left;
  margin-left: -320px;
  margin-top: 0px;
  color: white;
}

#menu .usuarionome{
  float: left;
  margin-left: -297px;
  margin-top: 0px;
  color: #FFDEAD;
}




/*Configuração para o menu2*/

#menu2{
	width:590px;
	height: 210px;
	float:left;
	margin: 0;
	background:url("/assets/header_pic.jpg") no-repeat;
}


#menu2 ul.link{
	width:590px;
	display:block;
	margin:23px 0 0 0;
	height:20px;
}

#menu2 ul.link li{
	float:left;
	width:102px;
	font-size:0px;
	display:block;
	padding:0 0 0 96px;
	height:20px;
}

#menu2 ul.link li.suporte{
	float:left;
	width:96px;
	font-size:0px;
	display:block;
	padding:0 0 0 102px;
	height:20px;
	margin:0;
}

#menu2 ul.link li.solucoes{
	float:left;
	width:122px;
	display:block;
	padding:0 0 0 72px;
	height:20px;
}

#menu2 ul.link li a{
	font:20px/20px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#AA855B ;
	font-weight:normal;
	background-color:#FFF9F2;
	background-image:none;
	display:block;
	width:104px;
	text-align:right;
	height:20px;
}

#menu2 ul.link li a:hover{
	color:#5A3000;
	background-color:#FFF9F2;
	padding:0;
	margin:0;
}





/*Configurações para o conteudo*/

#conteudo{
	float: left;
	width: 100%;
	min-height: 300px;
}


#ladodireito{
	width: 600px; 
  margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 10%;
	float:left;
}

#ladodireito h2{ 
	display:block; 
	font:18px/18px Arial, Helvetica, sans-serif; 
	color:#000000; 
	text-transform:uppercase;
	margin-top: 30px; 
	padding:0px 0 0 0;
	height:29px; 
	background-color:#FFF9F2;
}

#ladodireito p{
	font:14px/19px Arial, Helvetica, sans-serif; 
	color:#4D371E; 
	font-weight:normal; 
	display:block;
	margin:0 0 20px 10px; 
}

#ladodireito p a{
	width:32px; 
	background:url("/assets/more_arrow.gif") no-repeat 0 0 #FFF9F2; 
	color:#333227; 
	margin:0 0 0 520px; 
	height:16px;
	font:12px/14px Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	font-weight:bold; 
	display:block; 
	padding:0 0 0 23px
}

#ladodireito p a:hover{
	color:#C01F0B; 
	background:url("/assets/button_arrow.gif") no-repeat 0 0 #FFF9F2; 
	width:32px;
}

.fotos{
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 35%;
}

.fotos2{
	float: left;
	width: 280px;
	height: 120px;
	margin-left: 27%;
}







/*Configurações para as noticia*/


#noticias{
	width:362px; 
	float:left; 
	margin:0 0 0 20px;
}
	
#noticias h2{
	width:197px; 
	height:25px; 
	display:block; 
	color:#FFFFFF;
	font:17px Arial, Helvetica, sans-serif; 
	font-weight: bold;
	background:url("/assets/h2_bg1.gif") no-repeat 303px 0px #EFBA00; 
	text-transform:none;
	padding:10px 150px  5px 10px;
	margin-top:0;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0; 
}


#noticias ul{
	width:362px; 
	margin:0 0 15px 0px; 
	padding:0; 
	display:block;
	border-bottom:#C9B884 1px dashed; 
}

#noticias ul li{
	padding:0; 
	margin-top: 10px;
	margin-bottom: 20px;
	display:block; 
	font-size:0;
}


#noticias ul li a{
	font:13px/14px Arial, Helvetica, sans-serif; 
	color:#4D371E; 
	margin:3px 0 6px 0; 
	padding:0; 
	display:block;
	background-image:none;	
	background-color:#FFF9F2; 
	text-align:left; 
	font-weight:normal; 
	width:351px;
}

#noticias ul li a b{
	margin:0 200px 0 0;
}

#noticias a.more1{
	width:32px; 
	background:url("/assets/more_arrow2.gif") no-repeat 0 0 #FFF9F2; 
	margin-top: -5px;
	color:#333227; 
	height:16px;
	font:12px/14px Arial, Helvetica, sans-serif; 
	text-decoration:none; 
	font-weight:bold; 
	display:block;
	padding:0 0 0 23px;
	float:right;
}

#noticias a.more1:hover{
	color:#C01F0B; 
	background:url("/assets/more_arrow1.gif") no-repeat 0 0 #FFF9F2; 
	width:32px;
}

#ladodireito .datanovidade {
  float: right;
  margin-left: 40px;
	font-size:10px;  
} 






#relatorionoticia {
  float: left;
  width: 550px;
  border-bottom:#C9B884 1px dashed; 
}

#relatorionoticia p{
  float: left;
  margin-left: 40px;
}







/*Configuraçoes para parceiros*/


#parceiros{
	width:186px; 
	float:left; 
	margin-top:0px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 45px;
}

#parceiros h2{
	width:169px; 
	height:25px; 
	display:block; 
	color:#FFFFFF; 
	font:17px Arial, Helvetica, sans-serif; 
	font-weight: bold;
	background:url("/assets/h2_bg.gif") no-repeat 11px 143px #006666; 
	padding:10px 10px 5px 10px;
	margin-top:0;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0; 
	text-transform:none;
}

#parceiros ul{
	width:186px; 
	margin: 0px; 
	padding:0; 
	display:block;

}

#parceiros ul li{
	border-bottom:#C9B884 1px dashed; 
	height:25px;
	margin: 5px;
}


#parceiros ul li a {
	font:13px/14px Arial, Helvetica, sans-serif; 
	color:#4D371E; 
	margin-left: 10px;
	background-image:none;	
	background-color:#FFF9F2; 
	text-align: center; 
	font-weight:bold; 
	height: 15px;
	width:170px;
}




#relatorioparceiro {
  float: left;
  width: 550px;
  border-bottom:#C9B884 1px dashed; 
}

#relatorioparceiro p{
  float: left;
  margin-left: 40px;
}



/*configurações para o rodape*/
	
#rodape{
  background:url("/assets/rodape.gif") repeat-x; 
	width:100%; 
	float:left; 
	height:153px;
}

#rodape ul{
	width:51%; 
	margin-left:28%; 
	margin-top: 35px;
	display:block; 
	height:15px;
}

#rodape ul li{
	float:left; 
	font:12px/14px 'Trebuchet MS', Arial, Helvetica, sans-serif; 
	color:#FFFFFF;
	background-color:#6B6854;
	display:block; 
}

#rodape ul li a{
	font:12px/14px 'Trebuchet MS', Arial, Helvetica, sans-serif; 
	color:#FFFFFF; 
	background-color:#6B6854; 
	text-decoration:none;
	margin:0 10px 0 10px;
}

#rodape ul li a:hover{
	text-decoration:underline;
}

#rodape p{
	width:50%;
	margin-top: 10px;
	margin-left: 37%;
	font:12px/14px 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#F3F1DF;
	background-color:#6B6854
}







/*Configurações para o formulário*/

#formulario h2{ 
	display:block; 
	font:18px/18px Arial, Helvetica, sans-serif; 
	color:#000000; 
	text-transform:uppercase;
	margin-top: 30px; 
	padding:0px 0 0 0;
	height:29px; 
	background-color:#FFF9F2;
}

#formulario{
  float: left;
  width: 700px;
  min-height: 300px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

#formulario li {
  float: left;
  width: 700px;
  list-style-type:none;
}

.dados_fieldset legend{
  font:14px/19px Arial, Helvetica, sans-serif; 
  font-weight: bold;
  margin-left: 5px;
}

.dados_fieldset label{
  float: left;
  margin-left: 20px;
}


.inline-errors{
  margin-left: 52%;
  margin-top: -21px;
  color: #FF0000;
  font:14px/19px Arial, Helvetica, sans-serif; 
	font-weight:normal;
}


.formtastic abbr {
  border:0;
  font-variant:normal;
  margin-left: 5px;
  margin-right: 5px;
  color: #FF0000;
}

.formtastic .input {
  overflow:hidden; /* clear containing floats */
  padding:0.5em 0; /* padding and negative margin juggling is for Firefox */
  margin-top:-0.5em;
  margin-bottom:1em;
}

.formtastic .input .label {
  display:block;
  width:14%;
  float:left;
  padding-top:.2em;
  font:14px/19px Arial, Helvetica, sans-serif; 
	color:#4D371E; 
	font-weight:normal; 
	display:block;
}





/*Configurações para a aba solucoes*/



.conteiner {
	width: 250px;
	min-height: 200px;
	float: left;
	margin-left: 30px;
	margin-bottom: 25px;
	border-bottom:#C9B884 1px dashed;

}

.conteiner img{
	width: 226px;
	height: 200px;
	margin-bottom: 10px;
	margin-left: 12px;
}

.conteiner p {
	font:13px/14px Arial, Helvetica, sans-serif; 
	color:#4D371E; 
	margin:15px 5px 20px 20px; 
	padding:0; 
	display:block;
	background-image:none;	
	background-color:#FFF9F2; 
	text-align:center; 
	font-weight:normal; 
}

.linhaesquerda {
  float: left;
  height: 300px; 
  margin-left: 30px;
  border-right:#C9B884 1px dashed;
}
  
  
  
  
  
  
  
  
  
  
/* Configurações para o administrador*/

#menuadminitrador { 
  float: left;
  width: 100%;
  height: 300px;
  margin-top: 25px;
}

.menucadastrar {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/cadastrar.gif") no-repeat 0 0;
 }
 
 .menualterar {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 30px;
  background: url("/assets/alterar.gif") no-repeat 0 0;
 }
 
 .menuconsultar {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/consultar.gif") no-repeat 0 0;
 }

.menurelatorio {
  float: left;
  width: 170px;
  height: 100px;
  margin-top: 40px;
  margin-left: 220px;
  background: url("/assets/relatorio.gif") no-repeat 0 0;
 }
 
 
 
 
 
 .cadastrarnoticia {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/cadnoticia.gif") no-repeat 0 0;
 }
 
 .cadastrarparceiro {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/cadparceiro.gif") no-repeat 0 0;
 }
 
 .cadastrarsuporte {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/cadsuporte.gif") no-repeat 0 0;
 }
 
 .concluirsuporte {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/concluirsuporte.gif") no-repeat 0 0;
 }
 
 .concluidossuporte {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/concluidossuporte.gif") no-repeat 0 0;
 }
 
 
 .alterarnoticia {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/alterarnoticia.gif") no-repeat 0 0;
 }
 
 .alterarparceiro {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 15px;
  background: url("/assets/alterarparceiro.gif") no-repeat 0 0;
 }
 
 
 
 
 /*Configurações para suportes*/

#relatoriosuporte {
  float: left;
  width: 700px;
}

.linharealatoriosuporte{
  float: left;
  width: 700px;
  border-bottom:#C9B884 1px dashed; 
}

#relatoriosuporte .datasuporte {
  float: right;
  width: 40px;
  margin-top: -20px;
  margin-right: 15px;
	font-size:10px;  
} 

#relatoriosuporte p{
  float: left;
  margin-left: 40px;
}



#relatorioconcluidos {
  float: left;
  width: 700px;
  margin-bottom: 10px;
  border-bottom:#C9B884 1px dashed; 
}


#relatorioconcluidos .datasuporte {
  float: right;
  width: 40px;
  margin-top: -20px;
  margin-right: 15px;
	font-size:10px;  
} 




